<%- model_class = Candidate -%>
<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Personal Details</h2>
  </div>
  <!-- /.col-lg-12 -->
</div>



<%= render :partial => 'form' %>

<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">Interview Details</h2>

  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
   Interview Report
 </div>
 <!-- /.panel-heading -->
 <div class="panel-body">
  <!-- Nav tabs -->
  <%= form_for @candidate do |f|%>
  <%= f.fields_for :interview do |itr| %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>Current Status</th>
          <td><%= itr.object.status %></td>
          <td colspan="3"><div>
           <button type="button" class="btn btn-success">Start Process</button> &nbsp;&nbsp;
           <button type="button" class="btn btn-warning disabled">Complete Process</button>
         </div></td>
       </tr>
       <tr>
        <th>Resume Recieved on</th>
        <td colspan="4"><%= @candidate.created_at%></td>        
      </tr>
      <tr>
        <th>Position Considered for</th>
        <td colspan="4">
         <%= select_tag(:position, options_for_select([['Consultant', 'cons'], ['Sr. Consultant', 'sr_cons'],['Principal Consultant', 'principal'],  ['Sr. Principal Consultant', 'sr_principal']]), :class => 'form-control' ) %>

       </td>        
     </tr>

       

   </tbody>
 </table>
</div>
<% end %>
<% end %>


<ul class="nav nav-pills">
  <% @phases.each_with_index do |phase, index|%>
  <% if index == 0 %>  
  <li class="active"><a href="#phase_<%= index%>" data-toggle="tab">
   <%= phase.name%></a>
 </li>
 <% else %>   
 <li><a href="#phase_<%= index%>" data-toggle="tab">
   <%= phase.name%></a>
 </li>
 <% end %>
 <% end %>
</ul>


<div class="tab-content">
  <br/>




  <% @phases.each_with_index do |phase, index|%>

  <% if index == 0 %>
  <div class="tab-pane fade in active" id="phase_<%= index%>">

  <div>
  <table class="table table-bordered table-striped" style="width: 400px;">
          <tbody>
    <tr>
    <th style="width: 25%; vertical-align: middle;">Assign To</th>        
    <td>
         <%= select_tag(:user_id, options_from_collection_for_select(@users, :id, :email), {:class => 'form-control', :style => ' float: left; width: 200px; ' }) %>
         <button type="button" class="btn btn-success" style=" float: right; ">Assign</button>         
       </td>

     </tr>
     </tbody>
     </table>
  </div>
    <%else %>
    <div class="tab-pane fade" id="phase_<%= index%>">
      <% end %>


      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>skills</th>
              <th>Rating</th>
            </tr>

            <% phase.skill.each_with_index do |skill, index| %>

            <tr>
             <td>
              <%= skill.name %>

            </td>
            <td>
             <select class="form-control col-md-1">
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
             </select>

           </td>
         </tr>

         <% end %>

       </tbody>
     </table>

   </div>  
 </div>
 <%end %>
</div>


<!-- /.panel-body -->
</div>
</div>

