<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @candidate.dob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @candidate.phone %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @candidate.exp %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
