<h2 class="col-sm-6 col-sm-offset-3 font-size:36px;padding-left:10px;font-family:tahoma;font-weight:bold;color:#428bca">HireLane<span style="font-size:12px">
  Recruit Smart.
  <span></span>
</span></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal col-md-12'}) do |f| %>
<div class="form-group">
  <%= f.label :email, class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.email_field :email, autofocus: true , class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
</div>

<% if devise_mapping.rememberable? -%>
<div class="form-group">
  <div class="col-sm-6 col-sm-offset-3">
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  </div>
</div>
<% end -%>

<div class="form-group">
  <div class="col-sm-6 col-sm-offset-3">
    <%= f.submit "Sign in", class: 'btn btn-primary' %>
  </div>
</div>

<% end %>