<!DOCTYPE html>
<html>
<head>
	<title>HireLane</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<script type="text/javascript">
		var alert = "", notice = "";
		var alert = '<%= alert %>';
		var notice = '<%= notice %>';
	</script>
	<div id="wrapper">
		<%= render partial: "shared/header" %>
		

		<div id="page-wrapper">
			<%= yield %>
		</div>
		<!-- /#page-wrapper -->
		<%= render partial: "shared/footer" %>
	</div>
	<!-- /#wrapper -->
</body>
</html>
